@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Duru sans', sans-serif;
}
.scrollable-div::-webkit-scrollbar {
  width: 8px;
}
.scrollable-div::-webkit-scrollbar {
  background: #222;
  border-radius: 4px;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #151419;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  color: inherit;
  text-decoration: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
